<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/cssl.css">
    <meta charset="UTF-8">
    <title>My first web</title>

</head>
<body>
    <div class="imgUl">
        <ul>
            <li><img class="img" src="/static/images/xiaomai.jpg" alt="qwq"/></li>
            <li><img class="img" src="/static/images/xiaomai2.jpg" alt="qaq"/></li>
            <li><img class="img" src="/static/images/xiaomai3.jpg" alt="quq"/></li>
        </ul>
    </div>

    <div class="indexForm">
        <form method="POST" action="">
            <a href="../scatter"><input class="button" type="button" name="scatter" value="散点图"/><br/></a>
            <a href="../plot"><input class="button" type="button" name="plot" value="连线"/><br/></a>
            <a href="../polyfit"><input class="button" type="button" name="poly" value="多项式拟合"/></a>
        </form>
    </div>
</body>
</html>